<ion-view class="login-view dark-view">
  <ion-content class="padded-content" has-bouncing="false">
  <div class="wrapper">
    <h1 class="login-section-heading">
      Reset password
    </h1>

    <p>Enter the email address you registered your account with and we’ll email you a reset link.</p>

    <form name="form" novalidate ng-submit="reset(form)">
      <div class="list">
        <label class="item item-input item-floating-label" ng-class="validationClass(form.email, success)">
          <span class="input-label">
            Email
            <span ng-if="validationClass(form.email, notUnknownError)">
              <span> invalid</span>
            </span>
            <span ng-if="form.email.$valid && !success()">
              <span> {{failMessage()}}</span>
            </span>
          </span>
          <input type="email" name="email"
            required
            placeholder="Email"
            ng-model="user.email"
            ng-blur="blurred.email = true"
            ng-pattern="regex.email">
        </label>
      </div>
      <button class="button button-block button-balanced" ng-disabled="form.$invalid || !success()">
        Reset password
      </button>
      <button class="button button-block button-assertive" ui-sref="login">
        Cancel
      </button>
    </form>
  </div>
  </ion-content>
</ion-view>
