<ion-view class="login-view dark-view">
  <ion-content class="padded-content" has-bouncing="false">
    <div class="wrapper">
    <ion-slide-box>
      <ion-slide>
        <h2 class="welcome-section-heading">
          <span class="assertive number">1.</span>
          Smarter
        </h2>
        <div class="content card">
          <div class="item">
            <div class="item-body">
              <p>Did they get the Safety Alert? Site360 will tell you.</p>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <h2 class="welcome-section-heading">
          <span class="assertive number">2.</span>
          Instant
        </h2>
        <div class="content card">
          <div class="item">
            <div class="item-body">
              <p>No more delays in notifying your team on the ground.</p>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <h2 class="welcome-section-heading">
          <span class="assertive number">3.</span>
          Easy
        </h2>
        <div class="content card">
          <div class="item">
            <div class="item-body">
              <p>An easy to use, no fuss resource with results!</p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <button class="button button-block button-balanced" ui-sref="login">
      Get started
    </button>
  </div>
  </ion-content>
</ion-view>
